; 请妥善保管您的配置
registry=https://quadtalent-npm.pkg.coding.net/fe-group/fe-projects/
always-auth=true
//quadtalent-npm.pkg.coding.net/fe-group/fe-projects/:username=fe-projects-1624352951139
//quadtalent-npm.pkg.coding.net/fe-group/fe-projects/:_password=MWUxMGM5YjhhMGUzZGU0NThhNjU5OWM4YTgzYmIzNzA2MGMwNDQ5ZQ==
//quadtalent-npm.pkg.coding.net/fe-group/fe-projects/:email=zhoulong.lzl@quadtalent.com